body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 300;
    min-height: 100vh;
    background: linear-gradient(to bottom, #111951 0%, #421F6F 30%, #612384 100%);
}
pre code {
  color: white;
}

.card {
  opacity: .8;
  margin-bottom: .5rem;
}
.current-container, .header-container {
  padding: 1rem;
  color: white;
  margin-bottom: 1rem;
}
.icon-container {
  margin-bottom: 1rem;
}
.icon-container canvas {
  height: 3.5rem;
  width: 7rem;
}
.forecast-container .col-6:nth-child(even)::after {
  content: '';
  background-color: purple;
  width: 2px;
  height:100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 1rem;
}

#location {
  font-size: 1.6rem;
  font-weight: 500;
}
#current-temp {
  font-size: 3rem;
  font-weight: bold;
}
#current-weather {
  font-size: 1rem;
  font-weight: bold;
}
#weather-input {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  border-right: 0;
}
#search-btn {
  border-bottom-right-radius: 2rem;
  border-top-right-radius: 2rem;
  background-color: white;
}
